:root {
    --main-color: #694224;
    --black-color: #000000;
    --bg: #030101;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
    background-color: var(--bg);

    
}
.header .logo {
    font-size: 2.5rem;
    color: #fff;
    font-family: "Rye", cursive;
}
.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.nav a {
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #fff;
    
}
.nav a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) 0.1rem solid;
    padding-bottom: 0.5rem;
    font-size: 2rem;
    
}
.icon a img {
    margin: 1rem;
    cursor: pointer;
}
.icon a img:hover {
    transform: scale(1.2);
}
.btn {
    background-color: var(--main-color);
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;

}
.home-container {
    background-image: url("img/açude.png");
    
    background-position: center;
    background-size: cover;
   
}
.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}
.content {
    max-width: 60rem
}
.content h3 {
    font-size: 6rem;
    color: #fff;
}
.content p {
    font-size: 2rem;
    color: #fff;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
}
.title {
    font-size: 5rem;
    color: var(--main-color);
    text-align: center;
    text-transform: uppercase;
}
.about {
    background-color: var(--bg);
    color: #fff;
    text-align: center;
}